<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I have 8 years of experience in IT, across most of the SDLC - 1 year business & systems analysis, 1 year testing (manual and automation), 3 years release and environment management, 3 years DevOps). However I have found my niche in DevOps and automation.
                </p>
                <p>
                    I love automation. If you've had to do a task once, you'll have to do it again. I love being able to take a repetitive, time consuming task and make sure that no-one ever has to look at it again, and with my background in environments management, I'm
                    able to apply this right down to the server level (specifically monitoring and health), with real-time alerting and fault-tolerant scripting.
                </p>
                <p>
                    Serverless monitoring is a particularly interesting challenge, because the "traditional" method of using an agent on the server isn't available, so you have to use error rate reporting based on the logs coming out of the container.
                    Or monitoring the underlying server if you have access to it.
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Highlights</h3>
                <ul>
                    <li>
                        Implemented a serverless monitoring solution across Heroku and AWS to give near real-time alerting and automated scaling.
                    </li>
                    <li>
                        Built out a monitoring solution (using ITRS Geneos) for all development environments, improving stabilty and reduce time wasted investigating faults.
                    </li>
                    <li>
                        Designed and implemented a hybrid (AWS and on-premises) monitoring solution using the ELK stack, cloudwatch, S3 and Glacier.
                    </li>
                    <li>
                        Designed and built custom CMDB (using HTML, CSS, JavaScript, PHP, MYSQL, JQuery and the Jira rest interface) to enable developers to allocate their own resources, and provide quick data exports to teams across the business when
                        looking at the server estate. Logins with different levels of permissions was achieved via jira groups.
                    </li>
                    <li>
                        Implemented 1-click deploy to VMWare private cloud servers, across multiple technolgies (Windows, SSIS, SSRS, SQL, PowerShell)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
