<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I have 8 years of experience in IT, across most of the SDLC - 1 year business & systems analysis, 1 year testing (manual and automation), 3 years release and environment management, 3 years DevOps). However I have found my niche in DevOps and automation.
                </p>
                <p>
                    I love automation. If you've had to do a task once, you'll have to do it again. I love being able to take a repetitive, time consuming task and make sure that no-one ever has to look at it again, and with my background in environments management, I'm
                    able to apply this right down to the process level (specifically monitoring and health), with real-time alerting and fault-tolerant scripting.
                </p>
                <p>
                    Serverless monitoring is a particularly interesting challenge, because the "traditional" method of using an agent on the server isn't available, so you have to start getting creative. For "true" serverless applications, like AWS Lambda, alerting is simple, but fault finding using CloudWatch Logs can be painful.
                    For container based applications it's even harder though, as unless you're specifically looking for container restart events, they can be easy to miss.
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Highlights</h3>
                <ul>
                    <li>
                        3 X AWS Certified Certified: <br />
                        <a href="https://www.credly.com/badges/9cbfd1e2-043c-428b-bb4e-fb3a79c1247b">AWS DevOps Engineer</a><br />
                        <a href="https://www.credly.com/badges/19aa706f-7500-418e-9426-819169457c02/">AWS Developer Associate</a><br />
                        <a href="https://www.credly.com/badges/690ba7a6-1b19-4a17-9938-79bb172242ca/">AWS Cloud Practitioner</a><br />
                    </li>
                    <li>
                        <a href="https://aws.amazon.com/developer/community/community-builders/community-builders-directory/?cb-cards.sort-by=item.additionalFields.cbName&cb-cards.sort-order=asc&awsf.builder-category=*all&awsf.location=*all&awsf.year=*all&cb-cards.q=jon%2Bgoodall&cb-cards.q_operator=AND>"AWS Community Builder (March 2023 intake)</a>
                    </li>
                    <li>
                        Co-Founded the AWS Brighton User Group
                    </li>
                    <li>
                        Rolled out CI/CD across two seperate projects, including testing and automated deployments to production.
                    </li>
                    <li>
                        Implemented a serverless monitoring solution across Heroku and AWS to give near real-time alerting and automated scaling.
                    </li>
                    <li>
                        Designed and implemented a hybrid (AWS and on-premises) monitoring solution using the ELK stack, cloudwatch, S3 and Glacier.
                    </li>
                    <li>
                        Designed and built custom CMDB (using HTML, CSS, JavaScript, PHP, MYSQL, JQuery and the Jira rest interface) to enable developers to allocate their own resources, and provide quick data exports to teams across the business when
                        looking at the server estate. Logins with different levels of permissions was achieved via jira groups.
                    </li>
                    <li>
                        Implemented 1-click deploy to VMWare private cloud servers, across multiple technolgies (Windows, SSIS, SSRS, SQL, PowerShell)
                    </li>
                    <li>
                        Built out a monitoring solution (using ITRS Geneos) for all development environments, improving stabilty and reduce time wasted investigating faults.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
