<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <p>
                My personal interests include:
            </p>
            <ul>
                <li>
                    <b>Home Automation</b>. I've been interested in home automation - and particularly the challenges around securing the IoT - for a long time. The devices are now almost ubiquitos, but I still don't think anyone has entirely covered
                    the security element.
                </li>
                <li>
                    <b>Learning</b>. I constantly have a number of different web courses "on-the-go", to widen my skills. Currently working through Kubernetes Ceritified Administrator and AWS Certified SysOps Associate.
                </li>
                <li>
                    I occasionally blog. But it's mostly just me ranting at nothing. Check it out on my Medium profile
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <h3 style="margin-top:0"></h3>
    </div>
</section>
